{% extends 'comedu_calendar/base.html' %}

{% block content %}
    <h1>New Schedule</h1>
    <form method="POST" class="calendar_form">{% csrf_token %}
        {{ form.as_p|safe}}
        <!-- <tr><th>Title:</th><td><input type="text" name = "title" required /></td></tr></br>
        <tr><th>Context:</th><td><input type="text" name = "context"  src="/summmernote/editor/id_context/" required /></td></tr></br>
        <tr><th>Start:</th><td><input type="datetime" name = "start" required /></td></tr></br>
        <tr><th>End:</th><td><input type="datetime" name = "end" required /></td></tr> -->

        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}
