{% extends 'comedu_calendar/base.html' %}

{% block content %}
              <div class="calendar">
                  <h1><a href="">{{ calendar.title }}</a></h1>
                  <p>{{ calendar.context|linebreaksbr }}</p>
                  <p>{{ calendar.start|date:"Y년 m월 d일 D h시 i분" }}</p>
                  <p>{{ calendar.end|date:"Y년 m월 d일 D h시 i분"}}</p>
                  <p>{{ calendar.classify|linebreaksbr }}</p>
              </div>
              <a href="{url 'views.calendar_edit' pk=calendar.pk %}">수정하기</a>

{% endblock content %}
