<html>
<head>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>
<script>
  $(function() {
    $( "#testDatepicker" ).datepicker({
      dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
      dayNamesMin: ['일','월', '화', '수', '목', '금', '토'],
      monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
      monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
      showButtonPanel: true,
      currentText: '오늘 날짜',
      closeText: '닫기',
      dateFormat: "yy-mm-dd"
    });
  });


</script>

<body>
  <input type="text" id="testDatepicker">
</body>

</html>
