
body{
  line-height: 1;
}

.main_box{
  justify-content:center;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  padding-top:45px;
  width: 270px;
  height: 350px;
  padding: 50px 40px 40px 45px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #eee;
  opacity: 0.90;
  border-radius: 4px;
  border: 0.5px solid #ececea;
}
.submit_box {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin : 10px 10px 10px 10px;
  align-content: center;
  padding-top:20px;
}
.logo{
  justify-content: center;
  display: flex;
  width : 10em;
  height: 2em;
  flex-direction: column;
  align-content: center;
  padding-top:45px;
}
.logo img{
  width:200px;
  height:65px;
}
.first_box{
  border-bottom: 1px solid #c4c5c4;
  border-top:  1px solid #c4c5c4;
  border-left:  1px solid #c4c5c4;
  border-right:  1px solid #c4c5c4;
  padding: 20px 0 15px 0;
  margin-bottom: 30px;
  background-color: #fff;
}
.second_box{
  border-bottom: 1px solid #c4c5c4;
  border-top:  1px solid #c4c5c4;
  border-left:  1px solid #c4c5c4;
  border-right:  1px solid #c4c5c4;
  padding: 20px 0 15px 0;
  background-color: #fff;
}
.first_box input{
  font-family: 'Jeju Gothic', serif;
  font-size: 17px;
}

.second_box input{
  font-family: 'Jeju Gothic', serif;
  font-size: 17px;
}
.submit_box input{
  font-family: 'Jeju Gothic', serif;
  font-size: 17px;
}
